<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="comom/header::header"></div>
	<h1>Danh Sách Người Dùng</h1>
	<h1 th:href="@{/user/add}">adduser</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>AGE</th>
			<th>EMAIL</th>
			<th>USERNAME</th>
			<th>PASSWORD</th>
			<th>ROLE</th>
			<th>GENDER</th>
		</tr>
		<tr>
			<td th:text="${user.id}"></td>
			<td th:text="${user.name}"></td>
			<td th:text="${user.age}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.password}"></td>
			<td th:text="${user.role}"></td>
			<td th:text="${user.gender}"></td>
		</tr>
	</table>
	<div th:replace="comom/footer::footer"></div>

</body>
</html>